[user]
	name = Baihaqi
	email = 116696555+G4CENeiz@users.noreply.github.com
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !sh -c 'gh auth git-credential'
[credential "https://gist.github.com"]
	helper = 
	helper = !sh -c 'gh auth git-credential'
